@use "../abstracts/variables" as m;
@use "sass:map";

// Breadcrumbs
.breadcrumbs {
  background-color: map.get(m.$colors, "light-gray");
  padding: map.get(m.$spaces, "md") 0;
  margin-bottom: map.get(m.$spaces, "xl");
}

.breadcrumb-nav {
  display: flex;
  align-items: center;
  gap: map.get(m.$spaces, "sm");
  font-size: map.get(m.$font-sizes, "sm");

  a {
    color: map.get(m.$colors, "primary");
    text-decoration: none;
    transition: map.get(m.$transitions, "normal");

    &:hover {
      text-decoration: underline;
      color: map.get(m.$colors, "secondary");
    }
  }

  span {
    color: map.get(m.$colors, "medium-gray");
  }
}
