// ===========================================================================
// CRAFTIVITY - BASE
// Estilos base para elementos HTML
// ===========================================================================

@use "../abstracts/variables" as m;
@use "sass:map";

body {
  font-family: map.get(m.$font-stacks, "base");
  line-height: map.get(m.$line-heights, "base");
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-size: map.get(m.$font-sizes, "base");
  transition: background-color 0.3s ease, color 0.3s ease;
}
